*{
    margin: 0;
    padding: 0;
}

body{
	background-image: url("Imagen/e.jpg");
	background-repeat:no-repeat ;
	background-size: cover;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1{
	background-image: url("Imagen/f.jpg");
	background-repeat:no-repeat ;
	background-size: cover;
	margin-top: 7px;
	margin-right: 7px;
	margin-left: 5px;
	text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 255, 255);
}

  h2{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	margin: 30px;
  }

  img{
    float: left;
	margin: 30px;
	width:400px;
}

.navegacion ul{
	list-style: none;
	
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #fff9f9;
	font-family: 'Open sans';
	text-decoration: none;
    text-align: center;
}

.menu li a:hover{
	color: #CE7D35;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #333333;
	width: 120%;
	visibility: hidden;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

#form {
	width: 250px;
	margin: 0 auto;
	height: 50px;
  }
  
  #form p {
	text-align:left;
  }
  
  #form label {
	font-size: 20px;
  }
  
  input[type="radio"] {
	display: none;
  }
  
  label {
	color: grey;
  }
  
  .clasificacion {
	direction: rtl;
	text-align: left;
  }
  
  label:hover,label:hover ~ label {
	color: orange;
  }
  
  input[type="radio"]:checked ~ label {
	color: orange;
  }


.navegacion{
	text-align: center;
	width: 40rem;
	margin: 30px auto;
	background-image: url("Imagen/f.jpg");
	background-repeat:no-repeat ;
	background-size: cover;
	margin-left: 2px;
	margin-right: 7px;
	position: relative;
	margin-left: 400px;
}

@media  (max-width:750px){
	.navegacion{
		width: 400px;
	}
}

*,*:last-of-type,*:first-of-type{
	box-sizing: inherit;
}

.contenedor{
	width: min(90%,120rem);
	margin: 0 auto;
}

h3,strong{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: overline;  
}

.l{
    background-color: #921414;
    color: aliceblue;
    float: left;
    font-family: monospace;
    font-size: 400%;
}


p{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	list-style: none;
}

.padding{
	padding: 1rem 1rem;
}

.img-imagen img{
	cursor: pointer;
	transition: 1s;
}

.img-imagen img:hover{
	transform: scale(1.2);
}


/* Carrusel */

.visible {
    display: block;
}

.invisible {
    display: none;
}

.boton{
	color: aqua;
	width: 20px;display: block;
	font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
	padding: 1rem 3rem;
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 2rem;
	border: none;
}

/* Reloj */


.lahora {

    padding:25px;
    max-width:350px;
    width:100%;
    text-align:center;
    border-radius:5px;
    margin:0 auto;
    margin-top:15%;
}
#hora{

    font-family: sans-serif;
    font-size:60px;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}
#hora {
    color:#888;
    text-shadow:0px 0px 1px #333;
    font-size:30px;
    position:relative;
    top:-27px;
    left:-10px;
}


input{
	margin: 20px;
}

#cambiar{
	margin: 20px;
}




